.About {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.About .preview {
  width: 512px;
  text-align: center;
}

.About .vignette footer {
  pointer-events: all;
  bottom: -30px;
}

.About .text {
  width: 600px;
  color: #aaa;
  font-size: 1.4em;
  font-style: italic;
  padding: 80px 50px;
}


.About .text strong {
  color: #fff;
}
