.App {
  min-width: 480px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App > header {
  background: #111;
  display: flex;
  flex-direction: row;
  height: 40px;
}

.App .logo {
  align-self: center;
  font-weight: bold;
  padding: 0 1em;
}

.App .logo span:first-child {
  color: #fff;
}
.App .logo span:last-child {
  color: #fc6;
}

.App > header > nav {
  display: flex;
  flex-direction: row;
}
.App > header > nav > a {
  padding: 0.7em 1em;
  color: #ccc;
}
.App > header > nav > a:hover {
  color: #fff;
}
.App > header > nav > a.active {
  background: #444;
  color: #fff;
}

.App > header > .external {
  display: flex;
  flex-direction: row;
}
.App > header > .external > a {
  padding: 0.7em 0.8em;
  color: #ccc;
}

@media screen and (max-width: 540px) {
  .App > header > .external > a > span {
    display: none;
  }
}

.App > main {
  background: #333;
  flex: 1;
  display: flex;
  flex-direction: column;
}
